# Browserslist: https://github.com/browserslist/browserslist
last 4 versions
> 1%
not ie <= 11
# not dead

# Can't use `dead` until this issue has been resolved:
# https://github.com/sanity-io/sanity/issues/1237
