{
  "extends": ["eslint:recommended", "next", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  }
}
