.page {
  margin: 0 var(--column-left-margin) 0 var(--column-right-margin);
  position: relative;
}
.page h1 {
  margin: 48px 0;
  text-align: center;
}
.pageInner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 44px;
  background-color: #fff;
}
.pageInner a,
.pageInner a:visited,
.pageInner a:hover,
.pageInner a:focus,
.pageInner a:active {
  color: var(--base-font-color);
}
