.footer {
  margin-top: 64px;
  padding: 44px 0;
  display: grid;
  grid-template-columns:
    max(var(--column-margin), env(safe-area-inset-left))
    minmax(min-content, max-content)
    1fr
    max(var(--column-margin), env(safe-area-inset-right));
  align-items: center;
  justify-items: center;
  background: url("/images/footer-illustration.svg") repeat top left;
  background-size: auto 250%;
}
.footerInner {
  grid-column: 2 / -2;
}
.footerLink {
  padding: 10px 16px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: var(--font-size-5);
  color: var(--base-font-color);
  text-decoration: none;
}
.footerLink:hover,
.footerLink:focus,
.footerLink:active {
  text-decoration: underline;
}
