.header {
  display: grid;
  grid-template-columns:
    max(var(--column-margin), env(safe-area-inset-left))
    minmax(min-content, max-content)
    1fr
    max(var(--column-margin), env(safe-area-inset-right));
  align-items: center;
  background-color: #fff;
  z-index: 2;
  position: relative;
}
.nameAndTitle {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  column-gap: 16px;
  row-gap: 4px;
  flex-wrap: wrap;
  grid-column: 2 / 3;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 32px;
    align-items: baseline;
  }
  .nameAndTitle {
    flex-direction: row;
  }
}
.name {
  margin: 0;
  line-height: 1;
  font-family: "Dancing Script", cursive;
  font-size: var(--font-size-1);
  white-space: nowrap;
}
.title {
  margin: 0;
  line-height: 1;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-5);
  font-family: var(--base-font-family);
}
.navMenuButton {
  width: 44px;
  height: 44px;
  margin: 22px 0 22px 22px;
  padding: 0;
  justify-self: end;
  grid-column: 3 / 4;
}
.navMenuButton svg {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
}
/* .navMenu {
} */
.nav {
  margin-left: 44px;
  justify-self: end;
  grid-column: 3 / 4;
}
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
}
.navItem {
  padding-top: 28px;
  border-top: 12px solid transparent;
}
.navItemActive {
  border-top-color: var(--baseBgColor);
  /* border-top-color: #999; */
  /* border-image: linear-gradient(100deg, var(--baseBgColor), var(--compBgColor)) 1; */
}
.navLink {
  font-size: var(--font-size-5);
  color: var(--base-font-color);
  text-decoration: none;
}
.navLink:hover,
.navLink:focus {
  text-decoration: underline;
}

.navMenu {
  width: 100%;
  position: fixed;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Momentum touch scrolling for iOS (non-standard feature) */
  -webkit-overflow-scrolling: touch;
  background-color: #999;
}
.navMenuHiding {
  animation: hideNavMenu 0.25s linear 0s 1 normal forwards running;
}
.navMenuRevealing {
  animation: revealNavMenu 0.25s linear 0s 1 normal forwards running;
}
@keyframes hideNavMenu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes revealNavMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
