.postList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.postItem {
  margin-bottom: 44px;
}
.postLink {
  color: var(--base-font-color);
  text-decoration: none;
  display: flex;
  gap: 22px;
}
.postLink:hover .postTitle,
.postLink:focus .postTitle {
  text-decoration: underline;
}
/* .postImage {
  width: 83px;
} */
.postInfo {
  flex: 1 1;
}
.postTitle {
  margin: 0;
  font-size: var(--font-size-4);
}
.postDescription {
  margin: 8px 0 0 0;
}
