.meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.meta > * {
  margin: 0;
}
.date {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-2);
}
.author,
.credit a {
  color: var(--base-font-color);
}
.categories {
  display: flex;
  align-items: baseline;
}
.categoriesHeading {
  margin: 0 22px 0 0;
}
.category {
  background-color: var(--base-font-color);
  color: #fff;
}
.metaThemed {
  height: 100%;
  color: var(--secondaryFgHigh);
}
.metaThemed .author {
  color: var(--secondaryFgHigh);
}
.metaThemed .credit {
  margin: auto 0 66px 0;
}
.metaThemed .credit a {
  color: var(--secondaryFgHigh);
}
.metaThemed :focus,
.metaThemed :hover:focus {
  outline-color: var(--secondaryFgHigh);
}
