.body {
  margin: 0 -22px;
  padding: 22px;
  background-color: #fff;
  font-size: var(--font-size-4);
}
.body > *:first-child,
.bodyBlock > *:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .body {
    max-width: calc(60ch + 88px);
    margin: 0 auto;
    padding: 44px;
  }
  .body > div > figure:first-child + *:nth-child(2) {
    margin-top: 0;
  }
}
/* Safari 15 on macOS isn't respecting the `text-decoration-thickness` rule on `:hover`
and I haven't been able to fix it. See `base.css`. */
.body a,
.body a:visited,
.body a:hover,
.body a:focus,
.body a:active {
  color: var(--base-font-color);
}
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  margin: 48px 0;
}
