.spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999rem;
  border: 1rem solid #fff;
  border-left-color: transparent;
  transform: translateZ(0);
  animation: spinner-animate-rotate 1.1s infinite linear;
}
.spinner,
.spinner::after {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border-width: 2px;
}
@keyframes spinner-animate-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
