:root {
  --font-size-1: 40.5px;
  --font-size-2: 36px;
  --font-size-3: 27px;
  --font-size-4: 24px;
  --font-size-5: 20px;
  --font-size-6: 16px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
}
